svg {
	font: 10px sans-serif;
}

rect {
	cursor: default !important;
}

.axis, .frame {
	shape-rendering: crispEdges;
}

.axis line {
	stroke: #ddd;
}

.axis path {
	display: none;
}

.cell text {
	fill: black;
	font-weight: bold;
	text-transform: capitalize;
}

.frame {
	fill: none;
	stroke: #000;
}

.cell.active-cell .frame {
	stroke: red;
}

circle {
	fill: #000000;
	fill-opacity: 0.8;
	stroke-width: 1px;
}

circle.pareto-circle {
	fill-opacity: 0.0;
	stroke: #ff0000;
	stroke-width: 1px;
}

circle.suggestion-circle {
	fill-opacity: 0.0;
	stroke: #0000ff;
	stroke-width: 1px;
}

circle.current {
	stroke: #00ffff !important;
	stroke-width: 1.5px !important;
}

circle.parent-circle{
	fill: #888888;
	fill-opacity:0.7;
}

#matrixOptions.initial-active circle.candidate-circle.initial-on {
	fill: #00ff00!important;
}

#matrixOptions.marked-active circle.marked {
	fill: #0080ff;
}

#matrixOptions.selected-active circle.selected {
	fill: #8000ff;
}

.selection {
	fill: #000;
	fill-opacity: .075;
	stroke: #aaa;
}

.pareto-circle {
	visibility: hidden;
}

.tags-active .pareto-circle.pareto-real-level, .tags-active .pareto-circle.pareto-utility-level,
	.tags-active .pareto-circle.pareto-real-population, .tags-active .pareto-circle.pareto-utility-population
	{
	visibility: visible;
}

.suggestion-circle {
	visibility: hidden;
}

.tags-active .suggestion-circle.suggestion-on {
	visibility: visible;
}

.parent-line {
	visibility: hidden;
}

.parents-active .parent-line {
	visibility: visible;
	stroke: #fedd41;
	stroke-width: 2px;
	stroke-dasharray: 5, 5;
}

.parent-line-head {
	visibility: hidden;
}

.parents-active .parent-line-head {
	visibility: visible;
	stroke: #fedd41;
	fill: #fedd41;
}

.candidate-radar-container {
	background-color: white;
	border: solid;
	border-width: thin;
	border-color: black;
	margin: 1px;
	display: none !important;
}

.candidate-radar-container.current {
	display: inline-block !important;
}

.candidate-radar-container:hover {
	background-color: #f8f8f8;
}

.candidate-radar-star .fa-star {
	color: #eeeeee;
}

.selected .fa-star {
	color: #8000ff;
}

.marked .fa-star {
	color: #0080ff;
}

.radarArea {
	fill: #1F77B4;
}

.radarStroke {
	stroke: #1F77B4;
}

.radarCircle {
	fill: #1F77B4;
}

#glow {
	display: none!important;
}

#matrixDetailedContent {
	text-align: center;
}