.fullscreen-view {
	height: 100vh;
}

.card-header {
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
}

.card-body {
	padding: 0.5rem;
}

.h-5 {
	height: 5% !important;
}

.h-20 {
	height: 20% !important;
}

.h-30 {
	height: 30% !important;
}

.mh-15 {
	max-height: 15% !important;
}

.mh-20 {
	max-height: 20% !important;
}

.mh-30 {
	max-height: 30% !important;
}

.mh-70 {
	max-height: 70% !important;
}

.mh-80 {
	max-height: 80% !important;
}

.mh-85 {
	max-height: 85% !important;
}

.h-70 {
	height: 70% !important;
}

.h-75 {
	height: 75% !important;
}

.mh-100 {
	max-height: 100% !important;
}

.mw-100 {
	max-width: 100% !important;
}

.scrollable {
	overflow-x: auto;
	overflow-y: auto;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 100%;
}

.status {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	overflow: hidden;
	border-radius: 50%;
	padding: 0;
	margin: 0 2px;
	background: #f2f2f2;
	text-indent: -9999px;
	color: transparent;
	line-height: 16px;
}

.status .small {
	width: 12px;
	height: 12px;
}

.text-small {
	font-size: 12px;
}

.list-group {
	max-height: 300px;
	height: 300px;
	margin-bottom: 10px;
	overflow-y: auto;
	border-style: solid;
	border-width: 1px;
}

h3.no-break {
	display: inline
}

.running {
	background-color: #449D44 !important;
}

.waiting {
	background-color: #F0AD4E !important;
}

.exception {
	background-color: #D9534F !important;
}

.terminated {
	background-color: #0080ff !important;
}

.button-green {
	background-color: #4CAF50;
}

.button-blue {
	background-color: #008CBA;
}

.button-red {
	background-color: #f44336;
}

.button-gray {
	background-color: #e7e7e7;
	color: black;
}

.button-black {
	background-color: #555555;
}