.fullscreen-view {
	height: 100vh;
}

.h-5 {
	height: 5% !important;
}

.h-6 {
	height: 6% !important;
}

.h-7 {
	height: 7% !important;
}

.h-10 {
	height: 10% !important;
}

.h-15 {
	height: 15% !important;
}

.h-20 {
	height: 20% !important;
}

.h-30 {
	height: 30% !important;
}

.h-65 {
	height: 65% !important;
}

.h-70 {
	height: 70% !important;
}

.h-69 {
	height: 69% !important;
}

.h-75 {
	height: 75% !important;
}

.h-85 {
	height: 85% !important;
}

.h-90 {
	height: 90% !important;
}

.h-93 {
	height: 93% !important;
}

.h-94 {
	height: 94% !important;
}

.h-95 {
	height: 95% !important;
}

.mh-5 {
	max-height: 5% !important;
}

.mh-6 {
	max-height: 6% !important;
}

.mh-7 {
	max-height: 7% !important;
}

.mh-15 {
	max-height: 15% !important;
}

.mh-10 {
	max-height: 10% !important;
}

.mh-20 {
	max-height: 20% !important;
}

.mh-30 {
	max-height: 30% !important;
}

.mh-65 {
	max-height: 65% !important;
}

.mh-69 {
	max-height: 69% !important;
}

.mh-70 {
	max-height: 70% !important;
}

.mh-80 {
	max-height: 80% !important;
}

.mh-85 {
	max-height: 85% !important;
}

.mh-90 {
	max-height: 90% !important;
}

.mh-93 {
	max-height: 93% !important;
}

.mh-94 {
	max-height: 94% !important;
}

.mh-95 {
	max-height: 95% !important;
}

.mh-100 {
	max-height: 100% !important;
}

.mw-100 {
	max-width: 100% !important;
}

.card.vis-card .card-body {
	height: calc(100% - 29.6px); /* Subtract Header Height */
	max-height: calc(100% - 29.6px); /* Subtract Header Height */
}

.scrollable {
	overflow-x: auto;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #343a40 rgba(52, 58, 64, 0.08);
}

:root,body.scrollable,.list-group {
	scrollbar-width: thin;
	scrollbar-color: #343a40 rgba(52, 58, 64, 0.08);
}

.btn-edged {
	border-radius: 0px!important;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 100%;
}

.status {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	overflow: hidden;
	border-radius: 50%;
	padding: 0;
	margin: 0 2px;
	background: #f2f2f2;
	text-indent: -9999px;
	color: transparent;
	line-height: 16px;
}

.status .small {
	width: 12px;
	height: 12px;
}

.text-small {
	font-size: 12px;
}

.list-group {
	max-height: 300px;
	height: auto;
	margin-bottom: 10px;
	overflow-y: auto;
	border-style: solid;
	border-width: 1px;
}

.selectable-element {
	cursor: pointer;
}

h3.no-break {
	display: inline
}

.running {
	background-color: #449D44 !important;
}

.waiting {
	background-color: #F0AD4E !important;
}

.exception {
	background-color: #D9534F !important;
}

.terminated {
	background-color: #0080ff !important;
}

.button-green {
	background-color: #4CAF50;
}

.button-blue {
	background-color: #008CBA;
}

.button-red {
	background-color: #f44336;
}

.button-gray {
	background-color: #e7e7e7;
	color: black;
}

.button-black {
	background-color: #343a40;
}

/* CARD REDESIGN */

body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
}

h4 {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 700!important;
	line-height: 1.35;
}

.custom-control.custom-checkbox:hover,
.panel-heading:hover {
	color: #777777;
}

.list-group-item:hover {
	background-color: #f8f8f8;
}

.card {
	border-radius: 0rem;
	border-color: #343a40;
}

.card-header {
	background-color: #343a40;
	padding-left: 1rem;
	padding-top: 0.3rem;
	padding-bottom: 0.2rem;
	border-radius: 0rem!important;
	font-family:'Nunito Sans', sans-serif;
	font-size: 0.9em;
	font-weight: 300!important;
	color: white;
}

.card-body {
	padding: 0.5rem;
	background-color: rgba(52, 58, 64, 0.08);
}

#content {
	padding-left: 0.3rem!important;
	padding-right: 0.3rem!important;
}

.full-width {
	width: 100%;
}

.custom-control-label:before{
	background-color: rgba(255,255,255,0.8);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: #343a40;
  border-color: black;
}

    /** focus shadow pinkish **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(52, 58, 64, 0.25); 
  border-color: rgba(52, 58, 64, 0.5);
}

.dropdown-iem {
	color: #fff;
}

.dropdown-menu {
    background-color: white;
}

.dropdown-menu > a {
	background-color: white;
	color: black;
}

.dropdown-menu > a:hover {
    background-color: #343a40;
    background-image: none;
	color: white;
}

.custom-control-label::before, 
.custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem;
}

label.custom-control-label {
	padding-left: 0.65rem;
	padding-top: 0.3rem;
}

.row-box {
	border-width: 1px;
	border-style: solid;
	border-color: #343a40;
	background-color: rgba(52, 58, 64, 0.08);
}

.row-bottom-line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #343a40;
}

.btn {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

.btn.btn-outline-dark {
	background-color: rgba(255,255,255,0.8);
}

.btn.btn-outline-dark:hover {
	background-color: rgba(52, 58, 64, 0.25);
	color: white;
}

.has-search .form-control-feedback {
	font-size: 0.9rem;
	line-height: 2rem!important;
}

.has-search .form-control {
	padding-left: 2rem!important;
	max-height: 2rem;
	background-color: rgba(255,255,255,0.8);
}

.ui-slider .ui-slider-handle {
	background-color: #343a40;
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}

.ui-slider {
	background-color: rgba(52, 58, 64, 0.08);
}

/* Radio Button */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #343a40;
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E); 
    border-radius: 50%;
}
    
/* Radio Button Shadow */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}

/* FONT */

/* vietnamese */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Sans Light'), local('NunitoSans-Light'), url("#{resource['font:pe03MImSLYBIv1o4X1M8cc8WAc5iU1EQVg.woff2']}") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Sans Light'), local('NunitoSans-Light'), url("#{resource['font:pe03MImSLYBIv1o4X1M8cc8WAc5jU1EQVg.woff2']}") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Nunito Sans Light'), local('NunitoSans-Light'), url("#{resource['font:pe03MImSLYBIv1o4X1M8cc8WAc5tU1E.woff2']}") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url("#{resource['font:pe0qMImSLYBIv1o4X1M8cceyI9tScg.woff2']}") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url("#{resource['font:pe0qMImSLYBIv1o4X1M8ccezI9tScg.woff2']}") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'), url("#{resource['font:pe0qMImSLYBIv1o4X1M8cce9I9s.woff2']}") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'), url("#{resource['font:pe03MImSLYBIv1o4X1M8cc9iB85iU1EQVg.woff2']}") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'), url("#{resource['font:pe03MImSLYBIv1o4X1M8cc9iB85jU1EQVg.woff2']}") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'), url("#{resource['font:pe03MImSLYBIv1o4X1M8cc9iB85tU1E.woff2']}") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url("#{resource['font:pe03MImSLYBIv1o4X1M8cc8GBs5iU1EQVg.woff2']}") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url("#{resource['font:pe03MImSLYBIv1o4X1M8cc8GBs5jU1EQVg.woff2']}") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'), url("#{resource['font:pe03MImSLYBIv1o4X1M8cc8GBs5tU1E.woff2']}") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
