#sidebar {
	height: 100% !important;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	box-shadow: inset -1px 0 0 rgba(52, 58, 64, 1);
	padding: 65px 0 0;
}

.current {
	border-color: #00ffff;
	border-width: thin;
}

.candidate-list, .level-list, .parent-level-list {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    padding-left: 3px;
  	min-height: 0.1em;
	max-height: 14em;
	height: auto;
}

.candidate-item, .level-entry, .parent-level-entry {
	margin-bottom: 2px;
	font-size: 0.9rem;
}

.search-hide {
	display: none;
}

.candidate-id {
	display:none;
}

.candidate-item .fa-star {
	color: #eeeeee;
}

.selected .fa-star {
	color: #8000ff;
}

.marked .fa-star {
	color: #0080ff;
}

.candidate-pareto {
	visibility: hidden;
}

.candidate-pareto.pareto-on {
	visibility: visible;
}

.candidate-suggestion {
	visibility: hidden;
}

.candidate-suggestion.suggestion-on {
	visibility: visible;
}

.candidate-initial {
	visibility: hidden;
}

.candidate-initial.initial-on {
	visibility: visible;
}

#context-menu {
	position: relative;
}

#context-item {
	position: relative;
}

.accordion-toggle {
	margin-left: 0.3rem;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size:16px;
    content: "\f068";
    float: left;
    line-height: 32px;
}

.panel-heading .accordion-toggle.collapsed:after {
    font-weight: 600;
    content: "\f067";
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
